{% extends 'templates/default.html.twig' %}

{% block content %}
    {% for entry in daily.dayEntries %}
        <div class="entry {% if entry.timerStartedAt %}active{% endif %} {% if entry.id == mostRecentEntryId %}latest-entry{% endif %}">
            <div class="client">{{ entry.client }}</div>
            <div class="project" title="{{ entry.projectId }}">{{ entry.project }}</div>
            <div class="task" title="{{ entry.taskId }}">{{ entry.task }}</div>
            <div class="created-date">Created: {{ entry.createdAt | date }}</div>
            <div class="updated-date">Updated: {{ entry.updatedAt | date }}</div>
            <div class="notes">{{ entry.notes }}</div>
            {% if entry.timerStartedAt %}
                <div class="timer active" title="Started at {{ entry.timerStartedAt | date }}: {{ entry.hours }}">{{ entry.time }}</div>
            {% else %}
                <div class="timer" title="{{ entry.hours }}">{{ entry.time }}</div>
            {% endif %}

            <div class="toggle">
                {% if entry.timerStartedAt %}
                    <div class="stop"><a href="/timers/toggle?date={{ entry.date|date('Y-m-d') }}&id={{ entry.id }}">&#9632;</a></div>
                {% else %}
                    <div class="start"><a href="/timers/toggle?date={{ entry.date|date('Y-m-d') }}&id={{ entry.id }}">&#9654;</a></div>
                {% endif %}
            </div>
        </div>
    {% endfor %}
{% endblock %}
