{% extends 'templates/default.html.twig' %}

{% block content %}
  <div>
    There are {{ numberOfWorkingDays }} working days, at your target of {{ targetPerDay }} hours per day
    means a total of {{ numberOfWorkingDays * targetPerDay }} hours this month.
  </div>

  <canvas id="chart"></canvas>

  <script>
    var targetPerDay = {{ targetPerDay }};
    var workingDays = {{ workingDays | json_encode | raw }};
    var loggedHours = {{ loggedHours | json_encode | raw }};
  </script>
{% endblock %}

{% block scripts %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.2/Chart.min.js"></script>
  <script src="/js/target-hours.js"></script>
{% endblock %}
